.mat-form-field{
    width: 100%;
}

.mat-card-content{
    margin: auto;
}
.mat-card{
    width: 50%;
   margin: auto;
   top: 120px;
}
.mat-card-title{
    margin-top: 10px;
    text-align: center;
}
.btn-log{
   padding-left: 70px;
   padding-right: 70px;
   margin: 30px;
   border: round;
}