<mat-card class="shadow rounded col-7">
    <mat-card-header class="justify-content-center">
        <mat-card-title>Create Account</mat-card-title>
        <mat-card-subtitle>Human Resources Management </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="">
        <div class="row m-1">
            <div class="col-5">
                <mat-form-field>
                    <input matInput placeholder="User Name" type="text">
                    
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field>
                    <input matInput placeholder="FullName" type="text">
                    
                </mat-form-field>
            </div>


        </div>
        <div class="row m-1 ">
            <div class="col-5">
                <mat-form-field>
                    <input matInput placeholder="Email" type="email">
                    
                </mat-form-field>
            </div>
          
            <div class="col-5">
                <mat-form-field>
                    <input matInput placeholder="Phone" type="tel">

                </mat-form-field>
            </div>


        </div>
        <div class="row m-1">
            <div class="col-5">
                <mat-form-field>
                    <input matInput placeholder="Enter Password" type="password">
                    
                </mat-form-field>
            </div>
            <div class="col-5">
                    <mat-radio-group>
                        <mat-radio-button class=" mt-1 mr-2" value="Administrator">Administrator</mat-radio-button>
                        <mat-radio-button value="Employee">Employee</mat-radio-button>
                        
                    </mat-radio-group>
            </div>
            


        </div>
        <div class="row m-1">
                <div class="col-5">
                        <mat-form-field>
                            <input matInput placeholder="Confirm password" type="password">
                            
                         </mat-form-field>
                    </div>
                    <div class="col-5">
                        <button mat-raised-button color="primary"  > <i class="fa fa-user" aria-hidden="true"></i>
                Register</button>
                    </div>
            
        </div>
        <div class="row m-2 justify-content-center">
            <button  class="btn-log" mat-stroked-button color="accent" ><i class="fa fa-sign-in"
                    aria-hidden="true"></i> Login</button>
        </div>

    </mat-card-content>
 
         

</mat-card>